/* Global Styles */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #79A3A4;
}

/* HEADER */
header {
    background-color: #79A3A4;
    color: #fff;
    padding: 15px 0;
}

/* NAVIGATION BAR */
nav{
    margin-right: 15px;
    text-align: center;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover  {
    color: #d1d1d1;
    text-decoration: none;
}

/* Homepage -> Web-Title-Header */
@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#web-title-header{
    text-align: center;
    background-image: url('imgsrc/header-bg-img.png');
    height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
}

#website-name-text{
    display: inline-block;
    margin-top: 160px;
    width: 500px;
    height: 300px;
    animation: slideDown 1s ease forwards;
}

#web-title-header p{
    margin-top: 0px;
    color:#12263A;
    display: inline-block;
    width: 40%;
    font-size: 25px;
    animation: slideDown 1s ease forwards;
}

/* About Us */
#about-us-title-header{
    height: 300px;
    position: relative;
}

#about-us-details{
    height: 900px;
    display:flex;
}

#about-us-details #detail1{
    width: 100%;
    padding: 100px;
    font-size: 70px;
    background-color: #C2D6D9;
    text-align: justify;
    color:#1B3653;
}

#about-us-details #detail1 #detail1-p{
    width: 90%;
    padding: 10px;
    font-size: 23px;
}

#about-us-details #detail2{
    width: 100%;
    font-size: 70px;
    background-color: #ffffff;
    color:#1B3653;
    padding: 100px;
    text-align: justify;
}

#about-us-details #detail2 #sub-quote1{
    margin-top: -70px;
    width: 100%;
    font-size: 20px;
    color:#1B3653;
    text-align: justify;
}

#about-us-details #detail2 #sub-quote2{
    font-family: 'Times New Roman', Times, serif;
    margin-top: -20px;
    width: 100%;
    font-size: 60px;
    color:#1B3653;
    text-align: justify;
}

#about-us-details #detail2 #sub-quote3{
    margin-top: -20px;
    width: 100%;
    font-size: 20px;
    color:#1B3653;
    text-align: justify;
}

#about-us-details #detail2 #sub-quote4{
    margin-top: -20px;
    width: 65%;
    font-size: 20px;
    color:#1B3653;
    text-align: justify;
}

/* ABOUT DALA */
#about-dala-details{
    background-color: #E2F7FA;
    height: 1080px;
}

#about-dala-details #about-data-text{
    margin-top: 140px;
    text-align: center;
    color: #1B3653;
    font-size: 90px;
}

#about-dala-details #cont-about-dala{
    margin-left: 80px;
    margin-right: 80px;
}

#about-dala-details #cont-about-dala p{
    margin-top: -60px;
    width: 100%;
    text-align: justify;
    font-size: 25px;
    color: #1B3653;
}

#aboutus-4layout{
    position: absolute;
    right: 0;
    transform: translateY(-75%);
    margin-right: 40px;
    height: 800px;
    width: 800px;
    margin-top: -70px;
}

/* FOOTER */
footer {
    position: relative;
    background-color: #79A3A4;
    color: #fff;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer .social-media a{
    color: white;
}

footer .social-media a:hover {
    color: #a1e1ff;
}

footer .social-media{
    margin-top: -10px;
}

/* Responsiveness */
@media only screen and (max-width: 768px) {
    nav{
        text-align: center;
        font-size: 20px;
    }

    #web-title-header{
        background-image: url('imgsrc/header-bg-image.png');
        height: 1000px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #website-name-text{
        margin-left: 100px;
        margin-top: 170px;
        width: 580px;
        height: 60px;
    }

    #web-title-header p{
        margin-top: 10px;
        color:#DBBAA4;
        margin-left: 100px;
        width: 75%;
        font-size: 30px;
        text-align: justify;
    }

    #web-title-header a{
        text-decoration: none;
        color: #DBBAA4;
        background-color: #1E140E;
        padding: 20px;
        font-size: 30px;
        border-radius: 10px;
        margin-left: 100px;
    }

    #web-title-header a:hover {
        text-decoration: none;
        color: #1E140E;
        background-color: #DBBAA4;
        padding: 20px;
        font-size: 15px;
        border-radius: 10px;
        margin-left: 100px;
    }

    #about-us-details{
        height: 1000px;
        display:flex;
    }

    #about-us-details #detail1{
        width: 100%;
        padding: 50px;
        font-size: 25px;
        text-align: justify;
        color:#22160F;
    }

    #about-us-details #detail2{
        width: 100%;
        font-size: 25px;
        background-color: #CBAB96;
        color:#22160F;
        padding: 50px;
        text-align: justify;
    }
}

@media only screen and (max-width: 1200px) {
    nav{
        text-align: center;
        font-size: 20px;
    }

    #web-title-header{
        background-image: url('imgsrc/header-bg-image.png');
        height: 1000px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #website-name-text{
        margin-left: 100px;
        margin-top: 210px;
        width: 500px;
        height: 70px;
    }

    #web-title-header p{
        margin-top: 15px;
        color:#DBBAA4;
        margin-left: 100px;
        width: 75%;
        font-size: 20px;
        text-align: justify;
    }

    #web-title-header a{
        text-decoration: none;
        color: #DBBAA4;
        background-color: #1E140E;
        padding: 20px;
        font-size: 30px;
        border-radius: 10px;
        margin-left: 100px;
    }

    #web-title-header a:hover {
        text-decoration: none;
        color: #1E140E;
        background-color: #DBBAA4;
        padding: 20px;
        font-size: 15px;
        border-radius: 10px;
        margin-left: 100px;
    }

    #about-us-details{
        height: 700px;
        display:flex;
    }

    #about-us-details #detail1{
        width: 100%;
        padding: 50px;
        font-size: 20px;
        text-align: justify;
        color:#22160F;
    }

    #about-us-details #detail2{
        width: 100%;
        font-size: 20px;
        background-color: #CBAB96;
        color:#22160F;
        padding: 50px;
        text-align: justify;
    }
}